html,
.container {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #f2f4fc;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #514D67;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    height: 122px;
    margin: 0 200px 106px 200px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    color: #514D67;
    padding: 40px;

}

.nav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;


}

#home {
    color: #072ACB;
    background-color: #f2f4fc;
    font-weight: lighter;
    padding: 10px 30px 10px 30px;
}

#home:hover {
    background-color: #d1edff;
    color: rgb(255, 255, 255);
}

.contact a {
    background-color: #072ACB;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    padding: 10px 30px 10px 30px;
}

.contact a:hover {
    background-image: linear-gradient(to right,
            #072acb,
            #25aae1,
            #A2D6F2,
            #25aae1,
            #072acb);
}


header {
    display: flex;
    justify-content: center;
    margin: 0 200px 70px 200px;
    box-sizing: border-box;
}

.headertext h1 {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

}


.headerlist {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style: none;
    padding: 50px 0 50px 0;

}

.headerlist a {
    text-decoration: none;
}


.work a {
    color: #514D67;
    padding-left: 50px
}

.headerimages {
    background-repeat: no-repeat;
    background-image: url("/project-assets/hero-section/hero-image.png");
    background-size: contain;
    position: relative;

}


#card1 {
    width: 50%;
    height: 50%;
    position: relative;
    top: 20px;
    left: -50px;

}


#card2 {
    width: 50%;
    height: 50%;
    position: relative;
    bottom: -100px;
    left: 330px;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    height: 96px;
    margin: 0 200px 100px 200px;
}

.projects {
    margin: 0 200px 0 200px
}

.projects h2 {
    margin: 0 0 50px 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.projectboxes {
    display: flex;
    justify-content: space-between;
}

.projectboxes div {
    width: 300px;
    padding: 0 30px 50px 30px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 15px;
    line-height: 18px;
}

.projectboxes img {
    width: 300px;
    height: 200px;
    position: relative;
    right: 30px;
}

.link-btn a {
    text-decoration: none;
}

.link-btn {
    padding-top: 50px;
}

.clientfeedback {
    color: rgb(255, 255, 255);
    background-color: #292e47;
    height: 400px;
    padding: 100px;
    margin: 60px;
    background-image: url("/project-assets/testimonial-section/orbit.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between
}

.clientfeedback div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clientfeedback img {
    width: 100px;
}

.clientfeedback h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

.feedback {
    font-size: 20px;
    line-height: 150%;
    align-self: center;
    color: #ffc600;

}

.clientlist {
    list-style: none;
}

.clientname {
    font-size: 17px;
    line-height: 150%;
    color: #A2D6F2;
}

.clientcompany {
    font-size: 13px;
    line-height: 15px;
}

.services {
    margin: 0 200px 0 200px
}

.services h2 {

    margin: 0 0 50px 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.serviceboxes {
    display: flex;
    justify-content: space-between;
}

.serviceboxes div {
    width: 300px;
    margin: 0 20px 50px 20px;
    padding: 50px 30px 50px 30px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 17px;
    line-height: 150%;
}


.serviceboximage {
    background-color: #ECF7FF;
    border: #ECF7FF;
    border-radius: 50%;
    box-sizing: border-box;
    width:80px;
    height:80px;
    padding: 20px
}

.questions {
    text-align: center;
    background-color: #ffc600;
    height: 242px;
    padding-top: 100px;
    margin: 60px;
}

#email {
    background-color: rgb(255, 255, 255);
    padding: 20px 100px 20px 30px;
    margin: 10px 0 10px 0;
    font-weight: lighter;
}

.questions label img {
    position: relative;
    top: 8px;
    right:10px
}

.subscribe {
    border: 1px #072acb solid;
    background-color: #072acb;
    color: rgb(255, 255, 255);
    padding: 20px 30px 20px 30px;
    margin: 10px 0 10px 0;
    font-size: 15px;
    font-weight: lighter;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    height: 242px;
    margin: 0 200px 0 200px;
    font-size: 13px;
    line-height: 15px;
}

.footerlist {
    list-style: none;
    display: grid;
    grid-template-columns: 30% 30% 100%;
    grid-template-rows: 50px 50px;
    grid-gap: 40%;
    margin-right: 100px;
}

.footerlist a {
    text-decoration: none;
    color: #514d67;
}

.footerleft {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.footerleft img {
    padding-bottom: 20px;

}
@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    margin: 0 100px 106px 100px;
  }

  .navbar a {
    padding: 20px;
  }
  .contact a {
    padding: 10px 20px 10px 20px;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 50px 100px;
  }

 

  
  .projects {
    margin: 0 100px 0 100px;
  }

  .projects h2 {
    margin: 0 0 50px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }

  .projectboxes {
    display: flex;
    justify-content: space-between;
  }

  .projectboxes div {
    width: 200px;
    padding: 0 30px 50px 30px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 15px;
    line-height: 18px;
  }

  .projectboxes img {
    width: 200px;
    height: 200px;
    position: relative;
    right: 30px;
  }


  .questions {
    text-align: center;
    background-color: #ffc600;
    height: 200px;
    padding-top: 50px;
    margin: 60px;
  }

  #email {
    background-color: rgb(255, 255, 255);
    padding: 15px 100px 15px 15px;
    margin: 10px 0 10px 0;
    font-weight: lighter;
  }

  .subscribe {
    border: 1px #072acb solid;
    background-color: #072acb;
    color: rgb(255, 255, 255);
    padding: 16px 30px 14px 30px;
    margin: 10px 0 10px 0;
    font-weight: lighter;
  }

  footer {
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 0 100px 0 100px;
  }

  .footerlist {
    grid-template-rows: 40px 40px;
    grid-gap: 20%;
    margin-right: 50px;
  }

  .footerleft img {
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .navbar {
    display: block;
    margin: 0 0 150px 0;
    text-align: center;
    background-color: #a2d6f2;
  }

  .navbar img {
    padding: 10px 0 10px 40px;
  }

  .nav {
    text-decoration: none;
    display: flex;
    flex-flow: column wrap;
    background-color: #a2d6f2;
  }
  .nav a {
    display: block;
    color: white;
    padding: 10px 30px 10px 30px;
  }
  .nav a:hover {
    background-image: linear-gradient(
      to right,
      #a2d6f2,
      #25aae1,
      #a2d6f2,
      #25aae1,
      #a2d6f2
    );
    color: rgb(255, 255, 255);
  }

  .contact a {
    display: block;
    text-align: center;
    padding: 10px 0 10px 40px;
  }

  #home {
    background-color: #a2d6f2;
  }

  h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 0 10px 50px 10px;
  }

  
  .questions {
    text-align: center;
    background-color: #ffc600;
    height: 242px;
    padding-top: 100px;
    margin: 60px;
  }

  #email {
    background-color: rgb(255, 255, 255);
    padding: 20px 100px 20px 20px;
    margin: 10px 0 10px 0;
    font-weight: lighter;
  }

  .subscribe {
    border: 1px #072acb solid;
    background-color: #072acb;
    color: rgb(255, 255, 255);
    padding: 20px 30px 20px 30px;
    margin: 10px 0 10px 0;
    font-weight: lighter;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    height: 142px;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
  }

  .footerlist {
    list-style: none;
    display: grid;
    grid-template-columns: 30% 30% 100%;
    grid-template-rows: 30px 30px;
    grid-gap: 20%;
    margin-right: 100px;
  }

  .footerleft img {
    padding-bottom: 8px;
  }
}
