html,
body {
  padding: 0;
  overflow-x: hidden;
  position: relative;
  margin: 0
}


.container {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f2f4fc;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #514d67;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;
  height: 122px;
  margin: 0 200px 106px 200px;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  color: #514d67;
  padding: 40px;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

#home {
  color: #072acb;
  background-color: #f2f4fc;
  font-weight: lighter;
  padding: 10px 30px 10px 30px;
}

.nav a:hover {
  text-decoration: underline #072acb;
}

.circlelogo {
  transition: transform .2s;

}

.circlelogo:hover {
  transform: scale(1.1)
}

.contact a {
  background-color: #072acb;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  padding: 10px 30px 10px 30px;
}

.contact a:hover {
  background-color: #072AEE;
}

h1 {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-left: 200px;
}

.description {
  margin: 0 200px 0 200px;
  padding-bottom: 100px;
}

.description article {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.description div {
  background-image: url(/project-assets/projects-section/1.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.description p {
  text-align: justify;
}

.projects {
  margin: 0 200px 0 200px;
}

.projects h2 {
  margin: 0 0 50px 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.projectboxes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.projectboxes div {
  width: 25%;
  padding: 0;
  margin: 0 20px 50px 20px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  flex-flow: column nowrap;
  transition: transform .2s;
}

.projectboxes div:hover {
  transform: scale(1.1)
}

#projectimagefour {
  background-image: url(/project-assets/projects-section/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

#projectimagefive {
  background-image: url(/project-assets/projects-section/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;

}

#projectimagesix {
  background-image: url(/project-assets/projects-section/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
}

.projecttext {
  margin: 0 10px 30px 10px;
}

.link-btn a {
  text-decoration: none;
}

.link-btn {
  padding-top: 50px;
}

.link-btn a:hover {
  text-decoration: underline #072acb;
}

.questions {
  text-align: center;
  background-color: #ffc600;
  height: 242px;
  padding-top: 100px;
  margin: 60px;
}

#email {
  background-color: rgb(255, 255, 255);
  padding: 20px 100px 20px 50px;
  margin: 10px 0 10px 0;
  font-weight: lighter;
  background-image: url("/project-assets/newsletter/icon/mail.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position: 10px;
  border: 1px solid rgb(255, 255, 255);

}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  font-weight: lighter;
  color: #514d67;
}

.subscribe {
  border: 1px #072acb solid;
  background-color: #072acb;
  color: rgb(255, 255, 255);
  padding: 20px 30px 20px 30px;
  margin: 10px 0 10px 0;
  font-size: 15px;
  font-weight: lighter;
}

.subscribe:hover {
  background-color: #072AEE;
  border: 1px solid #072AEE;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 242px;
  margin: 0 200px 0 200px;
  font-size: 13px;
  line-height: 15px;
}

.footerlist {
  list-style: none;
  display: grid;
  grid-template-columns: 30% 30% 100%;
  grid-template-rows: 50px 50px;
  grid-gap: 40%;
  margin-right: 100px;
}

.footerlist a {
  text-decoration: none;
  color: #514d67;
}

.footerlist a:hover {
  text-decoration: underline #072acb;
}

.footerleft {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  transition: transform .2s;
}

.footerleft:hover {
  transform: scale(1.1)
}

.footerleft img {
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    margin: 0 100px 106px 100px;
  }

  .navbar a {
    padding: 20px;
  }

  .contact a {
    padding: 10px 20px 10px 20px;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 50px 100px;
  }

  .description {
    margin: 0 100px 0 100px;
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    padding-bottom: 50px;

  }

  .description article {
    padding-bottom: 0;
  }

  .projects {
    margin: 0 100px 0 100px;
  }

  .projects h2 {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }

  .projectboxes {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  .projectboxes div {
    padding: 0;
    font-size: 15px;
    line-height: 18px;
  }

  .questions {
    text-align: center;
    background-color: #ffc600;
    height: 200px;
    padding-top: 50px;
    margin: 60px;
  }

  .subscribe {
    border: 1px #072acb solid;
    background-color: #072acb;
    color: rgb(255, 255, 255);
    padding: 16px 30px 14px 30px;
    margin: 10px 0 10px 0;
    font-weight: lighter;
  }

  footer {
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 0 100px 0 100px;
  }

  .footerlist {
    grid-template-rows: 40px 40px;
    grid-gap: 20%;
    margin-right: 50px;
  }

  .footerleft img {
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: block;
    margin: 0 0 150px 0;
    text-align: center;
    background-color: #a2d6f2;
  }

  .navbar img {
    padding: 10px 0 10px 40px;
  }

  .nav {
    text-decoration: none;
    display: flex;
    flex-flow: column wrap;
    background-color: #a2d6f2;
  }

  .nav a {
    display: block;
    color: white;
    padding: 10px 30px 10px 30px;
  }

  .nav a:hover {
    background-image: linear-gradient(to right,
        #a2d6f2,
        #25aae1,
        #a2d6f2,
        #25aae1,
        #a2d6f2);
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .contact a:hover {
    background-color: #072AEE;
  }

  .contact a {
    display: block;
    text-align: center;
    padding: 10px 0 10px 40px;
  }

  #home {
    background-color: #a2d6f2;
  }

  h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    margin: 0 10px 50px 10px;
  }

  .description {
    margin: 0 10px 0 10px;
    display: flex;
    flex-flow: column nowrap;
    width: 96%;
    padding-bottom: 30px;
  }

  .description article {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .description div {
    background-image: url(/project-assets/projects-section/1.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  .projects {
    margin: 0 10px 0 10px;
  }

  .projects h2 {
    margin: 0 0 15px 5px;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
  }

  .projectboxes {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .projectboxes div {
    width: 90%;
    margin: 0 20px 20px 20px;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    flex-flow: row nowrap;
  }



  #projectimagefour {
    width: 30%;
  }

  #projectimagefive {
    width: 30%;
  }

  #projectimagesix {
    width: 30%;
  }

  .projecttext {
    margin: 0 10px 0 30px;
  }

  .link-btn {
    padding-top: 60px;
  }

  .questions {
    height: 150px;
    padding-top: 30px;
    margin: 10px;
    font-size: 13px;
  }

  #email {
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    text-align: center;
    background-image: none;

  }

  ::placeholder {
    font-size: 15px;
  }

  .subscribe {
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    height: 142px;
    margin: 0;
    font-size: 13px;
    line-height: 15px;
  }

  .footerlist {
    list-style: none;
    display: grid;
    grid-template-columns: 30% 30% 100%;
    grid-template-rows: 30px 30px;
    grid-gap: 20%;
    margin-right: 100px;
  }

  .footerleft img {
    padding-bottom: 8px;
  }
}